.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.a-home-top {
  display: block;
  position: relative;
  width: 100%;
  background-color: #111d20;
  background-position: center center;
  background-size: cover;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: calc((100vw - 1200px) / 2 + 570px);
    min-height: 100vh;
    padding: 165px 0 80px calc((100vw - 1200px) / 2);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 82px;
    color: #ffffff;
    b,
    strong {
      font-weight: normal;
      color: #77b72b;
    }
  }
  ul {
    display: block;
    position: relative;
    margin: 24px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding-left: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "- ";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #77b72b;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 42px 0 0 0;
    padding: 22px 42px 22px 30px;
    background: #77b72b;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    img,
    svg {
      display: inline-block;
      max-width: 44px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #95d944;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #111d20;
  z-index: 50;
  transition: all 0.2s ease-out;
  &_active {
    background: #111d20;
  }
  &_absolute {
    position: absolute !important;
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0;
  }
  &__subsocial {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    a {
      display: inline-block;
      padding: 9px;
      img,
      svg {
        display: block;
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
  }
  &__sub {
    display: block;
    position: relative;
    width: 100%;
    background: #77b72b;
    &-this {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 7px 0;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          color: #ffffff;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            opacity: 0.8;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__toggle {
    display: none;
    position: relative;
    width: 42px;
    height: 42px;
    background: url("../images/icon_menu.png") no-repeat left center;
    &_active {
      background: url("../images/icon_menu_close.png") no-repeat left center;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    position: relative;
    max-width: 230px;
    img,
    svg {
      display: block;
      margin-right: 20px;
    }
    &-title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
    &-text {
      display: block;
      margin: 5px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__row {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    min-width: 180px;
  }
  &__subtitle {
    display: block;
    margin: 0 0 7px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__link {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 20px;
    border: 1px solid #77b72b;
    outline: none;
    background: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #95d944;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__drop {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 60px 0;
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 60px 0 0;
    border-right: 1px solid #ffffff;
    list-style: none;
    li {
      display: block;
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
      a {
        display: block;
        margin: 0 0 18px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #77b72b;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: block;
    margin: 0 0 33px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 20px 0;
    img,
    svg {
      display: block;
      max-width: 19px;
      max-height: 19px;
      margin-right: 8px;
    }
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
}

.s-hidden {
  visibility: hidden;
  position: absolute;
  padding-right: 10px;
}
.select {
  display: block;
  position: relative;
  min-width: 170px;
  border: 0;
  background: transparent;
}
.styledSelect {
  display: inline-block;
  position: relative;
  border: 0;
  border-bottom: 2px dashed #77b72b;
  background: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: -10px;
  min-width: 230px;
  margin: 0 0;
  padding: 10px;
  z-index: 999;
  list-style: none;
  border: 0;
  background-color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #111d20;
}
.options li {
  margin: 0;
  padding: 6px 10px;
  cursor: pointer;
}
.options li:hover {
  background-color: #edf0f0;
  color: #111d20;
}
.options li:last-child {
  color: #77b72b !important;
}

.a-home-calc {
  display: block;
  position: relative;
  padding: 60px 0;
  background: #ffffff;
  &__header {
    padding: 0 0 50px 0;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #111d20;
  }
  &__subtitle {
    display: block;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #111d20;
  }
  &-block {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 79px;
    padding: 50px;
    background: #edf0f0;
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #111d20;
    }
    &__info {
      display: flex;
      align-items: center;
      position: relative;
      margin: 8px 0 0 0;
      img,
      svg {
        display: inline-block;
        max-width: 20px;
        max-height: 20px;
        margin-right: 10px;
      }
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #77b72b;
    }
    &__subtitle {
      display: block;
      margin: 20px 0 5px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #111d20;
      opacity: 0.5;
    }
    &__value {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #111d20;
    }
    &__hr {
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      margin: 26px 0;
      background: #c0c4c4;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding: 40px 0 45px 0;
  }
  &__text {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #111d20;
  }
  &__what {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #111d20;
  }
  input[type="number"] {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 28px;
    padding: 2px 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #111d20;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #111d20;
    text-align: center;
  }
  .noUi-target {
    height: 3px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #c0c4c4;
  }
  .noUi-connect {
    box-shadow: none;
    background: #111d20;
  }
  .noUi-base,
  .noUi-connects {
    height: 3px;
  }
  .noUi-handle {
    width: 27px;
    height: 27px;
    margin-top: -6px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background: #77b72b;
    transform: translateX(-3px);
    box-shadow: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .noUi-pips-horizontal {
    padding: 0;
  }
  .noUi-value {
    padding-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #111d20;
  }
  &-spec {
    display: block;
    position: relative;
    width: 100%;
    &__title {
      display: block;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      color: #ffffff;
    }
    &__info {
      display: block;
      margin: 0 0 22px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      b,
      strong {
        margin-left: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #77b72b;
      }
    }
  }
  &_dark {
    padding-bottom: 70px;
    background: #111d20 url("../images/calc_bg_alt.png") no-repeat right center;
    .a-home-calc__title {
      color: #ffffff;
    }
    .a-home-calc__text {
      color: #ffffff;
    }
    input[type="number"] {
      border-color: #ffffff;
      color: #ffffff;
    }
    .a-home-calc__what {
      color: #ffffff;
    }
    .noUi-value {
      color: #ffffff;
    }
    .noUi-target {
      background: #77b72b;
    }
    .noUi-connect {
      background: #ffffff;
    }
  }
  .a-home-form__button {
    margin: 20px 0;
    background: #77b72b;
  }
  .a-home-form__input {
    max-width: 300px;
  }
}

.a-home-form {
  display: block;
  position: relative;
  padding: 80px 0 50px 0;
  background: #589411 url("../images/home_form_bg.jpg") no-repeat bottom right;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 60px;
  }
  ::placeholder {
    color: #c0c4c4;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 38px 0;
    padding: 11px 40px;
    border: 0;
    outline: none;
    background: #ffffff url("../images/icon_input_bg.png") no-repeat left 17px top 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #111d20;
  }
  &__check {
    display: block;
    position: relative;
    margin: -6px 0 0 0;
    & > div {
      display: block;
      position: relative;
      margin-bottom: 6px;
      padding: 0 0 8px 35px;
      background: url("../images/icon_checkbox.png") no-repeat left top 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      cursor: pointer;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left top 4px;
      }
    }
  }
  &__file {
    display: block;
    position: relative;
    margin: 30px 0 10px 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    & > span {
      display: block;
      position: relative;
      width: 240px;
      height: 27px;
      background: url("../images/icon_file_full.svg") no-repeat 0 0;
      background-size: contain;
    }
  }
  &__info {
    display: block;
    margin: 10px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 215px;
    border: 0;
    outline: none;
    padding: 14px 30px;
    background: #111d20;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    img,
    svg {
      display: inline-block;
      max-width: 32px;
      max-height: 12px;
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0);
      }
      background: #ffffff;
      color: #111d20;
      text-decoration: none;
    }
  }
}

.a-home-steps {
  display: block;
  position: relative;
  padding: 100px 0;
  background: #111d20;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 30px 0 0 0;
    z-index: 2;
    &_1 {
      .a-home-steps-card__image {
        img,
        svg {
          top: -14px;
          left: 10px;
        }
      }
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 65px;
        left: 68px;
        width: 910px;
        height: 1px;
        background: #77b72b;
        z-index: 0;
      }
    }
    &_2 {
      .a-home-steps-card__image {
        img,
        svg {
          top: -60px;
          left: -60px;
        }
      }
    }
    &_3 {
      .a-home-steps-card__image {
        img,
        svg {
          top: -18px;
          left: -12px;
        }
      }
    }
    &_4 {
      .a-home-steps-card__image {
        img,
        svg {
          top: -2px;
          left: 11px;
        }
      }
    }
    &__image {
      display: block;
      position: relative;
      width: 130px;
      height: 130px;
      background: #283d42;
      z-index: 2;
      img,
      svg {
        display: block;
        position: absolute;
        max-width: 270px;
        max-height: 190px;
        z-index: 2;
      }
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      max-width: 240px;
      min-height: 140px;
      margin: -40px 0 0 10px;
      padding: 20px 30px 10px 30px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(17px);
      z-index: 3;
    }
    &__number {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #77b72b;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
    &__text {
      display: block;
      margin: 9px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
  }
}

.a-home-features {
  display: block;
  position: relative;
  &__title {
    display: block;
    position: relative;
    padding: 110px 0 20px 0;
    background: #77b72b;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      width: 650px;
      height: 500px;
      transform: translateX(-50%);
      background: #77b72b;
      z-index: -1;
      pointer-events: none;
    }
  }
  &-progress {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 270px;
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #111d20;
    }
    &__title {
      display: block;
      margin: 8px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 109px;
      text-align: center;
      color: #111d20;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 270px;
    margin: -25px auto 55px auto;
    padding: 20px;
    background: rgba(237, 240, 240, 0.8);
    backdrop-filter: blur(15px);
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 80px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #111d20;
    }
  }
}

#progress {
  display: block;
  position: absolute;
  width: 460px;
  height: 460px;
  transform: rotate(180deg);
  z-index: -1;
  pointer-events: none;
  path {
    stroke-linecap: round;
  }
}

.a-home-services {
  display: block;
  position: relative;
  padding: 30px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 54px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #111d20;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 70px;
      left: 0;
      width: 1010px;
      height: 1px;
      background: #77b72b;
      z-index: -1;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 64px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__circle {
      display: block;
      position: relative;
      width: 12px;
      height: 12px;
      margin: 0 0 25px 0;
      border-radius: 999rem;
      background: #77b72b;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #111d20;
    }
  }
}

.a-home-works {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0 10px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    color: #111d20;
  }
  &__arrows {
    display: inline-flex;
    align-items: stretch;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 570px;
    &__image {
      flex: 0 0 200px;
      min-height: 380px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: block;
      position: relative;
      flex: 1 1 auto;
      min-height: 380px;
      overflow: hidden;
      padding: 40px 45px;
      background: #111d20;
      transform-style: preserve-3d;
      transition: all 0.2s ease-out;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 250px;
        height: 250px;
        left: -50px;
        top: 25px;
        border-radius: 999rem;
        background: #283d42;
        z-index: -1;
        transition: all 0.2s ease-out;
      }
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 35px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      b,
      strong {
        font-weight: normal;
        color: #77b72b;
      }
    }
    img,
    svg {
      display: block;
      max-width: 60px;
      max-height: 60px;
    }
    &__car {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
    &__subtitle {
      display: block;
      margin: 24px 0 6px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      opacity: 0.5;
    }
    &__info {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .a-home-works-card__title {
        b,
        strong {
          color: #ffffff;
        }
      }
      .a-home-works-card__content {
        background: #589411;
        &:after {
          background: #77b72b;
        }
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    width: 85px;
    height: 50px;
    border: 1px solid #111d20;
    outline: none;
    background: transparent;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #77b72b;
      border-color: #77b72b;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 20px;
  }
}

.a-home-reviews {
  display: block;
  position: relative;
  padding: 80px 0 100px 0;
  background: #283d42 url("../images/home_reviews_bg.png") no-repeat top 190px center;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
  }
  &__arrows {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  &__link {
    display: inline-block;
    margin: 5px 80px 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #77b72b;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    padding-bottom: 10px;
    background: #283d42;
    &__image {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__name {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
    &__date {
      display: block;
      margin: 5px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
    &__content {
      display: block;
      height: 132px;
      overflow: hidden;
      margin: 30px 0 70px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
    &__row {
      display: flex;
      align-items: center;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      opacity: 0.5;
      img,
      svg {
        display: block;
        max-width: 78px;
        max-height: 32px;
        margin-left: 26px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    width: 85px;
    height: 50px;
    margin: 0;
    border: 1px solid #ffffff;
    outline: none;
    background: transparent;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #77b72b;
      border-color: #77b72b;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 20px;
  }
}

.a-home-seo {
  display: block;
  position: relative;
  padding: 90px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #111d20;
  }
  &__content {
    display: block;
    position: relative;
    height: 66px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    p {
      display: block;
      margin: 0 0 30px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #111d20;
    }
    &_active {
      height: auto;
    }
  }
  &__more {
    &_active {
      cursor: pointer;
    }
    display: block;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #77b72b;
    cursor: pointer;
    text-decoration-line: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
}

.a-bottom {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 85px 0 0 0;
  }
  &__title {
    display: inline-block;
    margin: 0 0 28px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    color: #111d20;
  }
  &__link {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 22px 27px;
    background: #ffffff;
    border: 3px solid #77b72b;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #111d20;
    text-align: center;
    pointer-events: all;
    &_active {
      background: #77b72b !important;
      color: #ffffff !important;
    }
    cursor: pointer;
    text-decoration-line: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #77b72b;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    width: calc((100vw - 1200px) / 2 + 470px);
    min-height: 100vh;
    padding: 85px 0 20px 70px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    pointer-events: all;
    /* &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(30px);
      z-index: 4;
      pointer-events: none;
    } */
    &__subtitle {
      display: block;
      margin: 0 0 5px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #111d20;
    }
    &__info {
      display: block;
      margin: 0 0 30px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #111d20;
      a {
        color: #111d20;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #77b72b;
          text-decoration: none;
        }
      }
    }
    &__social {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 30px 0;
      a {
        display: inline-block;
        padding: 0 13px 13px 0;
        img,
        svg {
          display: block;
          max-width: 20px;
          max-height: 20px;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          transform: scale(0.9);
          text-decoration: none;
        }
      }
    }
    &__button {
      display: inline-block;
      margin-right: 5px;
      margin-top: 30px;
      padding: 16px 26px;
      border: 1px solid #77b72b;
      outline: none;
      background: #77b72b;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #95d944;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__alt-button {
      display: inline-block;
      margin-top: 30px;
      padding: 16px 14px;
      border: 1px solid #77b72b;
      outline: none;
      background: transparent;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #111d20;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #95d944;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.a-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 70px 0;
  background: #ffffff;
  &__logo {
    display: inline-block;
    position: relative;
    max-width: 100%;
    img,
    svg {
      display: block;
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__what {
    display: block;
    margin: 46px 0 34px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #111d20;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  &__policy {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #111d20;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 24px 0;
    img,
    svg {
      display: block;
      max-width: 21px;
      max-height: 21px;
      margin-right: 12px;
    }
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #111d20;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 22px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #111d20;
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 20px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #111d20;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #77b72b;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #111d20;
    img,
    svg {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      color: #111d20;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
  }
}

.a-info {
  display: block;
  position: relative;
  padding: 40px 0;
  background: #edf0f0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #c0c4c4;
}

#up {
  display: none;
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 57px;
  height: 57px;
  background: url("../images/icon_up.png") no-repeat center center;
  background-size: contain;
  z-index: 40;
  &.active {
    display: block !important;
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(0.95);
    color: #77b72b;
    text-decoration: none;
  }
}

.a-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 30px 0;
    padding: 160px 145px;
    background: #77b72b;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #306bd1;
    background-color: transparent;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  ::placeholder {
    color: #c0c4c4;
  }
  input,
  textarea {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 11px 40px;
    border: 0;
    outline: none;
    background: #ffffff url("../images/icon_input_bg.png") no-repeat left 17px top 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #111d20;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border: 0;
    outline: none;
    padding: 25px 42px;
    background: #283d42;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    img,
    svg {
      display: inline-block;
      max-width: 32px;
      max-height: 12px;
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0);
      }
      background: #ffffff;
      color: #111d20;
      text-decoration: none;
    }
  }
}

.a-about {
  display: block;
  position: relative;
  margin-top: -62px;
  padding: 55px 0 80px 0;
  background-position: center center;
  background-size: cover;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 55px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    color: #ffffff;
  }
  &__text {
    display: block;
    max-width: 405px;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.a-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111d20;
  z-index: 4;
  li {
    display: inline-block;
    a {
      color: #111d20;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
  }
  &_light {
    color: #ffffff !important;
    a {
      color: #ffffff !important;
      &:hover {
        color: #77b72b !important;
      }
    }
  }
}

.a-about-about {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center top;
  &__content {
    display: block;
    position: relative;
    width: calc((100vw - 1200px) / 2 + 640px);
    padding: 100px 160px 250px calc((100vw - 1200px) / 2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #111d20;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    p {
      display: block;
      margin: 0 0 30px 0;
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__title {
    display: block;
    margin: 0 0 42px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #111d20;
  }
}

.a-geometr {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -165px;
  padding: 86px 0 180px 0;
  background: url("../images/about_features.png") no-repeat center top;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    &_2 {
      max-width: 1100px;
      .a-geometr-card:nth-child(1) {
        margin-left: -40px;
      }
      .a-geometr-card:nth-child(2) {
        margin-left: 40px;
      }
      .a-geometr-card:nth-child(3) {
        margin-left: -5px;
      }
      .a-geometr-card:nth-child(4) {
        margin-right: -40px;
        margin-left: 60px;
      }
    }
    &_3 {
      max-width: 880px;
      padding-top: 20px;
      .a-geometr-card:nth-child(1) {
        margin-left: 20px;
      }
      .a-geometr-card:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
  &-card {
    display: inline-block;
    width: auto;
    margin: 14px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
  }
}

.a-article {
  display: block;
  position: relative;
  margin-top: -62px;
  padding: 55px 0 84px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #283d42;
  &__title {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 85px 0 0 0;
    padding: 22px 34px 22px 30px;
    background: #77b72b;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    img,
    svg {
      display: inline-block;
      max-width: 44px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #95d944;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-article-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 30px 0;
  &__title {
    display: block;
    margin: 0 0 22px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #111d20;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #111d20;
    a {
      color: #77b72b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #111d20;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 70px;
      left: 0;
      width: 730px;
      height: 1px;
      background: #77b72b;
      z-index: 1;
    }
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 240px;
    margin: 0 0 30px 0;
    &__image {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 64px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__dot {
      display: block;
      position: relative;
      width: 12px;
      height: 12px;
      margin: 0 0 16px 0;
      border-radius: 999rem;
      background: #77b72b;
    }
    &__number {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #77b72b;
    }
    &__title {
      display: block;
      position: relative;
      margin: 8px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #111d20;
    }
  }
}

.a-article-how {
  display: block;
  position: relative;
  padding: 70px 0;
  background: #edf0f0;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #77b72b;
  }
  ul {
    display: block;
    position: relative;
    margin: 34px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding-left: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #111d20;
      b,
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #77b72b;
      }
      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "- ";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #77b72b;
      }
    }
  }
}

.a-article-docs {
  display: block;
  position: relative;
  padding: 70px 0;
  background: #589411;
  &:before {
    display: block;
    position: absolute;
    content: "";
    width: calc(50vw);
    right: 100%;
    top: 0;
    height: 100%;
    background: #589411;
    pointer-events: none;
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 100px 0 30px 0;
    &_1 {
      .a-article-docs-card__image {
        img,
        svg {
          bottom: 14px;
          left: -30px;
        }
      }
    }
    &_2 {
      .a-article-docs-card__image {
        img,
        svg {
          bottom: 20px;
          left: -15px;
        }
      }
    }
    &_3 {
      .a-article-docs-card__image {
        img,
        svg {
          bottom: 28px;
          left: -10px;
        }
      }
    }
    &__image {
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
      background: #77b72b;
      img,
      svg {
        display: block;
        position: absolute;
        max-width: 300px;
        max-height: 300px;
      }
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      max-width: 180px;
      min-height: 120px;
      margin: -65px 0 0 10px;
      padding: 15px 15px 10px 15px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(17px);
    }
    &__number {
      display: block;
      position: absolute;
      top: -40px;
      right: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #77b72b;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
  }
}

.a-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    color: #111d20;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #111d20;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  ul {
    display: block;
    position: relative;
    margin: 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 8px 0;
      padding-left: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #111d20;
      b,
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #77b72b;
      }
      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "- ";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #77b72b;
      }
    }
  }
  a {
    color: #77b72b;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #77b72b;
      text-decoration: none;
    }
  }
  figure {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100vh;
      margin: 0 auto;
    }
  }
  figcaption {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 26px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #c0c4c4;
  }
  .table {
    margin: 30px 0;
    text-align: center;
  }
  .table tr:first-child {
    td,
    th {
      border: 0;
    }
  }
  .table td,
  .table th {
    padding: 12px 36px;
    background: #edf0f0;
    border-color: #c0c4c4;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 35px;
    color: #111d20;
  }
  .table td:first-child,
  .table th:first-child {
    text-align: left;
  }
  .table td:last-child,
  .table th:last-child {
    text-align: right;
  }
  .table thead th {
    padding: 12px 36px;
    background: #77b72b;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    color: #ffffff;
  }
}

.a-body {
  &_gray {
    background: #edf0f0;
  }
}

.a-places {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 20px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #111d20;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    padding: 10px;
    background: #111d20 url("../images/places_bg.png") no-repeat left bottom;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 315px;
      background-position: center center;
      background-size: cover;
    }
    &__map {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding: 60px 40px 40px 40px;
    }
    &__title {
      display: block;
      margin: 0 0 25px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 29.091px;
      line-height: 29px;
      color: #77b72b;
    }
    &__text {
      display: block;
      margin: 0 0 27px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
    &__phone {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 41px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      position: relative;
      margin: 40px 0 0 0;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #77b72b;
      img,
      svg {
        display: inline-block;
        max-width: 32px;
        max-height: 32px;
        margin-left: 23px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.a-form {
  display: block;
  position: relative;
  padding: 80px 0;
  background: #589411 url("../images/recall_bg.png") no-repeat right center;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 60px;
  }
  ::placeholder {
    color: #c0c4c4;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 38px 0;
    padding: 11px 40px;
    border: 0;
    outline: none;
    background: #ffffff url("../images/icon_input_bg.png") no-repeat left 17px top 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #111d20;
  }
  &__check {
    display: block;
    position: relative;
    margin: -6px 0 0 0;
    & > div {
      display: block;
      position: relative;
      margin-bottom: 6px;
      padding: 0 0 8px 35px;
      background: url("../images/icon_checkbox.png") no-repeat left top 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      cursor: pointer;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left top 4px;
      }
    }
  }
  &__file {
    display: block;
    position: relative;
    margin: 30px 0 10px 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    & > span {
      display: block;
      position: relative;
      width: 240px;
      height: 27px;
      background: url("../images/icon_file_full.svg") no-repeat 0 0;
      background-size: contain;
    }
  }
  &__info {
    display: block;
    margin: 10px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 215px;
    border: 0;
    outline: none;
    padding: 14px 30px;
    background: #111d20;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    img,
    svg {
      display: inline-block;
      max-width: 32px;
      max-height: 12px;
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0);
      }
      background: #ffffff;
      color: #111d20;
      text-decoration: none;
    }
  }
}

.a-reviews {
  display: block;
  position: relative;
  padding: 0 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 27px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #111d20;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    padding: 40px;
    background: #ffffff;
    &__image {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__name {
      display: block;
      margin: 0 0 0 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #111d20;
    }
    &__date {
      display: block;
      margin: 5px 0 0 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #111d20;
    }
    &__content {
      display: block;
      height: 132px;
      overflow: hidden;
      margin: 30px 0 70px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #111d20;
    }
    &__row {
      display: flex;
      align-items: center;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #111d20;
      span {
        opacity: 0.5;
        transition: all 0.2s ease-out;
      }
      img,
      svg {
        display: block;
        max-width: 78px;
        max-height: 32px;
        margin-left: 26px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        span {
          opacity: 1;
        }
        opacity: 1;
        color: #111d20;
        text-decoration: none;
      }
    }
  }
  &__more {
    display: block;
    position: relative;
    width: 100%;
    max-width: 260px;
    margin: 5px auto 0 auto;
    padding: 20px;
    background: #77b72b;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #95d944;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#maaap {
  display: block;
  position: relative;
  width: 100%;
  height: 750px;
  outline: none;
}

.a-contacts {
  display: block;
  position: relative;
  padding: 0 0 40px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #111d20;
  }
  &__text {
    display: block;
    margin: 0 0 64px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 35px;
    color: #111d20;
  }
  &__subtitle {
    display: block;
    margin: 0 0 13px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #111d20;
  }
  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    a {
      display: inline-block;
      padding: 4px 0 4px 26px;
      img,
      svg {
        display: block;
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
  }
  &__info {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #111d20;
    a {
      color: #111d20;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #77b72b;
        text-decoration: none;
      }
    }
  }
  &__button {
    display: block;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #77b72b;
    outline: none;
    background: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #111d20;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #95d944;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .a-home-services__cards:after {
    display: none;
  }
  .a-home-features {
    width: 100%;
    overflow: hidden;
  }
  .a-home-features-card {
    margin: 0 auto 20px auto;
  }
  .a-home-calc-block {
    margin: 40px auto 0 auto;
  }
  .a-home-top__content {
    width: 100%;
    max-width: 100%;
    padding: 40px 15px;
  }
  .a-header {
    position: relative;
    background: #111d20;
  }
  .a-header__drop {
    padding: 20px 0;
  }
  .a-header__nav {
    padding: 0 0 20px 0;
    border: 0;
  }
  .a-header__subtitle {
    margin: 10px 0 0 0;
  }
  .a-header__row {
    display: none;
  }
  .a-header__button {
    display: none;
  }
  .a-home-top__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-home-calc {
    padding: 40px 0;
  }
  .a-home-calc__header {
    padding-bottom: 0;
  }
  .a-home-calc__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-home-form {
    padding: 40px 0;
    background: #589411;
  }
  .a-home-form__info {
    margin: 0 0 20px 0;
  }
  .a-home-form__form {
    padding-top: 20px;
  }
  .a-home-steps {
    padding: 40px 0;
  }
  .a-home-form__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-home-features__title {
    padding: 20px 0;
    font-size: 42px;
    line-height: 1.2;
  }
  #progress {
    transform: rotate(180deg) scale(0.575);
  }
  .a-home-services-card__circle {
    margin-bottom: 5px;
  }
  .a-home-services-card__image {
    height: 40px;
  }
  .a-home-works {
    padding: 40px 0;
  }
  .a-home-works__title {
    margin: 0 0 40px 0;
    font-size: 42px;
    line-height: 1.2;
  }
  .a-home-works-card {
    flex-flow: column nowrap;
  }
  .a-home-works-card__image {
    min-height: 200px;
  }
  #up {
    left: 10px;
    bottom: 10px;
  }
  .a-home-seo {
    padding: 20px 0 40px 0;
  }
  .a-home-reviews {
    padding: 40px 0;
    background: #283d42;
  }
  .a-home-reviews__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-bottom__header {
    padding: 20px 0;
  }
  #map {
    position: relative;
    height: 300px;
  }
  .a-bottom-block {
    min-height: auto;
    padding: 20px;
  }
  .a-footer {
    padding: 40px 0;
  }
  .a-footer__what {
    margin: 20px 0;
  }
  .a-info {
    padding: 20px 0;
  }
  .a-header__toggle {
    display: inline-flex;
  }
  .a-header__subsocial {
    display: none;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
  }
  .a-header__sub-this li {
    display: block;
    width: 100%;
    a {
      width: 100%;
      text-align: center;
    }
  }
  .a-header__sub {
    display: none;
  }
  .a-header__button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    br {
      display: none;
    }
  }
  .a-modal__content {
    padding: 40px 20px;
  }
  .a-modal__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-modal__info {
    margin: 20px 0;
  }
  .a-home-calc .noUi-value:nth-child(2) {
    transform: translate(-20%, 50%);
  }
  .a-home-calc .noUi-value:last-child {
    transform: translate(-80%, 50%);
  }
  .a-about__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
  .a-about-about__content {
    width: 100%;
    padding: 40px 15px;
  }
  .a-about-about__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.2;
  }
  .a-article-how__cards:after {
    display: none;
  }
  .a-article {
    background-position: left top;
  }
  .a-article__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .a-article-how__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;
  }
  .a-article-how {
    padding: 40px 0;
  }
  .a-article-how__subtitle {
    margin-bottom: 20px;
  }
  .a-home-calc_dark {
    background: #111d20;
  }
  .a-home-calc-spec__title {
    margin-top: 60px;
  }
  .a-article-docs {
    padding: 40px 0;
  }
  .a-article-docs__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;
  }
  .a-article-docs-card {
    margin-top: 60px;
  }
  .a-article-docs:after {
    display: block;
    position: absolute;
    content: "";
    width: calc(50vw);
    left: 100%;
    top: 0;
    height: 100%;
    background: #589411;
    pointer-events: none;
  }
  .a-seo h1 {
    font-size: 46px;
  }
  .a-seo .table td,
  .a-seo .table th {
    padding: 12px;
  }
  .a-seo .table thead th {
    padding: 12px;
  }
  .a-seo {
    padding-bottom: 20px;
  }
  .a-places__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
  .a-places-card__image {
    height: 200px;
  }
  .a-places-card__content {
    padding: 30px 10px;
  }
  .a-form {
    padding: 40px 0;
    background: #589411;
  }
  .a-form__info {
    margin: 20px 0 0 0;
  }
  .a-form__form {
    padding-top: 20px;
  }
  .a-form__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .a-reviews-card {
    margin-bottom: 20px;
    padding: 30px 20px;
  }
  .a-reviews-card__name {
    margin: 0;
  }
  .a-reviews-card__date {
    margin: 5px 0 0 0;
  }
  .a-reviews {
    padding-bottom: 20px;
  }
  .a-contacts__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
  .a-contacts__text {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
  }
  .a-contacts__subtitle {
    margin-bottom: 8px;
  }
  .a-home-steps-card_1:after {
    display: none;
  }
  .a-bottom-block {
    position: relative;
    width: 100%;
    padding: 30px 20px;
  }
  .a-home-reviews__link {
    margin-right: 30px;
  }
  .a-geometr {
    margin: 0;
    padding: 40px 0;
    background: #ffffff;
    &-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33% !important;
      min-height: 240px;
      margin: 0 auto 3px auto !important;
      background: #77b72b;
      text-align: center;
    }
  }
  .a-geometr-card_hide {
    display: none;
  }
  .a-geometr__cards_3 {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .a-geometr {
    &__cards {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    &-card {
      width: 100% !important;
      max-width: 240px !important;
    }
  }
}
